*, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    color: inherit;
    text-decoration: none;
}

body {
    background: #252525;
    font: 20px Roboto;
}

button {
    background: none;
    border: none;
    padding: 0;
}



@import "./LK/Authorization.css";
@import "./LK/Registration.css";
@import "./FILM/film.css"; 
@import "./HOME/home.css";
@import "./HOME/about.css";
@import "./FILM/new-film.css"; 
@import "./FILM/search-films.css"; 




.loader {
    margin-top: 5vh;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}